<div class="containerPosts">
    <h1>Postagens</h1>
    <div class="cardPosts">
        <% posts.forEach(post => { %>
            <div class="cardBody">
                <h5 class="cardTitle"><%= post.titulo %></h5>
                <p class="cardText"><%= post.conteudo %></p>
            </div>
        <% }); %>
    </div>
</div>

<!-- Testes de DIVs -->
<!-- <div>
    <% posts.forEach(post => { %>
    <h1><%#= post.titulo %></h1>
    <p><%#= post.conteudo %></p>
    <div class="container">
        <div class="card">
            <div>
                <h1><%= post.titulo %></h1>
            </div>
            <div>
                <h4><%= post.conteudo %></h4>
            </div>
        </div>
    </div>
    <% }) %>
</div>

<div class="container mt-5">
    <div class="row">
        <% for(let i = 0; i < posts.length; i++) { %>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><%= posts[i].titulo %></h5>
                    <p class="card-text"><%= posts[i].conteudo %></p>
                </div>
            </div>
        </div>
        <% } %>
    </div>
</div>

<div class="container mt-5">
    <h1>Lista de Posts</h1>

    <% posts.forEach(post => { %>
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title"><%= post.titulo %></h5>
            <p class="card-text"><%= post.conteudo %></p>
        </div>
    </div>
    <% }); %>

</div>
 -->
